<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name ="Id" #Id="ngModel" [(ngModel)]="service.formData.Id">
    <div class="form-group">
      <label>Nome</label>
      <input name ="Nome" #Nome="ngModel" [(ngModel)]="service.formData.Nome" class="form-control" required>
      <div class="validation-error" *ngIf="Nome.invalid && Nome.touched">campo obrigatório</div>
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <input name ="Descricao" #Descricao="ngModel" [(ngModel)]="service.formData.Descricao" class="form-control">
    </div>
      <div class="form-group">
        <label>Preço</label>
        <input type="number" placeholder="0.00" name ="Preco" #Preco="ngModel" [(ngModel)]="service.formData.Preco" ng-maxlength="5" class="form-control">
      </div>
   <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Enviar</button>
  </div>
  </form>