<table class="table table-hover">
  <tr *ngFor="let prod of service.list">
    <td (click)="populateForm(prod)">[{{prod.Id}}]-{{prod.Nome}}</td>
    <td (click)="populateForm(prod)">{{prod.Descricao}}</td>
    <td (click)="populateForm(prod)">{{prod.Preco}}</td>
    <td><button (click)="onDelete(prod.Id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>