<div class="jumbtron">
  <h1 class="display-4 text-center">Apponte Produtos</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-produto></app-produto>
    </div>
    <div class="col-md-7">
      <app-produto-list></app-produto-list>
    </div>
  </div>
</div>